<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><r:cacm_page_title /></title>

	<r:article_meta_tags />
	<r:if_gsa><meta name="robots" content="noarchive" /></r:if_gsa>
	<r:content part="page_meta" />

	<r:rss_link_tag />

	<style type="text/css" media="screen, print">
		@import url(/stylesheets/common.css);
		@import url(/stylesheets/site.css);
	</style>
	<link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print" />
	<style type="text/css">
	<r:controller_css_imports />
<r:content part="page_css" />
	</style>

	<r:if_local_development><script type="text/javascript" src="/javascripts/prototype.js"></script>
	<script type="text/javascript" src="/javascripts/validation.js"></script>
	<script type="text/javascript" src="/javascripts/lowpro.js"></script>
	<script type="text/javascript" src="/javascripts/site.js"></script></r:if_local_development>
	<r:unless_local_development><script type="text/javascript" src="/javascripts/cacm_scripts.js"></script></r:unless_local_development>
	<script type="text/javascript">
	//<![CDATA[
<r:content part="page_scripts" />
	//]]>
	</script>
<r:content part="page_head" />
</head>


<body>

<!-- googleoff:all -->
<div class="JumpLink" id="PageTop"><a href="#BodyWrapper">Skip to Main Content</a></div>

<div id="LayoutWrapper">
	<r:display_flashes />
	<div id="HeaderWrapper">
		<r:snippet name="page_header" />
	</div>
	<!-- END: HeaderWrapper -->

	<div id="MainNavBar">
		<r:snippet name="main_nav" />
	</div>
	<!-- END: MainNavBar -->

	<hr />

	<!-- googleon:all -->
  <r:content />
	<!-- googleoff:all -->

	<hr />

	<div id="FooterWrapper">
		<r:snippet name="page_footer" />
	</div>
	<!-- END: FooterWrapper -->

</div>
<!-- END: LayoutWrapper -->

<div class="JumpLink"><a href="#PageTop">Back to Top</a></div>

<r:if_live_production>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
  var pageTracker = _gat._getTracker("UA-6995646-3");
  pageTracker._trackPageview();
} catch(err) {}
</script>
</r:if_live_production>

</body>
</html>